@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">扩展服务主页</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">扩展服务配置页面</a>.</p>
</div>
